.main {
  $mainColor: #e7257c;
  .top-nav {
    height: 40px;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;

    ul {
      
    }

    li {
      display: inline;
      list-style: none;
      color: gray;
      margin-right: 1em;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }

    .profile {
      position: relative;
      top: -5px;
    };

    .auth {
      position: relative;
      top: 2px;
    }
  }


  .brand {
    background-color: #333358;
    width: 20%;
    height: 70px;
    border-radius: 10px;
    display: inline-flex;
    box-shadow: 0px 2px 5px black;
  }


  #nav {
    padding: 15px;
    margin-bottom: 1rem;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;

    #search-bar {
      #search-btn {
        cursor: pointer;
        color: #e7257c;
        background: white;
        max-height: 30px;
        border: 0;
      }

      input {
        max-height: 30px;
        font-size: 14px;
        border: 0;
      }
    }

    .nav-top {
      li {
        border-left: 1px solid white;
        display: inline-flex;
        align-items: center; 
        padding: 0.5em 1em;
        a {
          color:white;
          font-size: 13px;
        }
        &:hover {
          background: #b91962;
          cursor: pointer;
        }
      }
    }

    #navbarText {
      background: $mainColor;
    }


    a {
      color: #2c3e50;
      font-family: "Roboto", sans-serif;
      font-size: 14px;

      &.router-link-exact-active {
        color: #007bff;
      }
    }
  }

  .mid-nav {
    height: 40px;
    i{
      font-size: 30px;
    }
  }

  .c-default {
    color: $mainColor;
  }

  .f-13 {
    font-size: 13px;
  }
  .logo-header {
    background-size: cover;
    background-image: url("/img/su-logo.jpg");
    height: 40px;
    width: 40px;
    display: inline-flex;
  }
}